{% extends "base.html" %}
{% block js_top %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses'],
          ['2004',  1000,      400],
          ['2005',  1170,      460],
          ['2006',  660,       1120],
          ['2007',  1030,      540]
        ]);

        var options = {
          title: 'Company Performance'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="span6">
    <form action="" method=post class="form-inline">
      <input type="text" placeholder="Magnitude" name="mag" class="input-small">
      <input type="text" placeholder="Period [rad]" name="period" class="input-small">
      <button type="submit" class="btn">Calculate</button>
    </form>
  </div>
  <div class="span6">
    <p class="output-large" id="output">
    </p>
  </div>
</div>
<div class="row-fluid">
  <div id="chart_div" style="width: 900px; height: 500px;"></div>
</div>
{% endblock %}
{% block js_bottom %}
  <script type="text/javascript">

    $( 'form' ).submit(function( event ) {
      event.preventDefault();

      var form = $( this );

      $.ajax({
        type: 'POST',
        url: '/sine',
        data: form.serialize(),
        dataType: 'json',
        success: function( resp ) {
          $('#output').html(resp.data);
          console.log( resp );
        },
        error: function(resp) {
          $('#output').html('');
          console.log( resp );
        }
      });
    });

  </script>
   <script src="{{ url_for('static', filename='js/pycalc.js') }}"></script>
{% endblock %}