{% extends "base.html" %}
{% block js_top %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      function drawChart(dataIn) {
        var data = google.visualization.arrayToDataTable(dataIn);
        console.log('Chart data:', dataIn);
        var options = {
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="span6">
    <form action="" method=post class="form-inline">
      <label>Magnitude:</label>
      <input type="number" name="mag" class="input-small" value="1" max="5" min="0.2" step="0.2">
      <label>Period:</label>
      <input type="number" name="period" class="input-small" value="1" max="5" min="0.2" step="0.2">
    </form>
  </div>
  <div class="span6">
    <p class="output-large" id="output">
    </p>
  </div>
</div>
<div class="row-fluid">
  <div id="chart_div" style="width: 900px; height: 500px;"></div>
</div>
{% endblock %}
{% block js_bottom %}
  <script type="text/javascript">

    $( 'input[type="number"]' ).change(function(event) {
      recalculate();
    });

    function recalculate() {
      var form = $( 'form' );

      $.ajax({
        type: 'POST',
        url: '/sine',
        data: form.serialize(),
        dataType: 'json',
        success: function( resp ) {
          drawChart(formatDataForGoogleChart(resp.data.x,resp.data.y,'X','Y'));
          console.log( resp );
        },
        error: function(resp) {
          $('#output').html('');
          console.log( resp );
        }
      });
    };

  </script>
   <script src="{{ url_for('static', filename='js/pycalc.js') }}"></script>
{% endblock %}